@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  width: 100dvw;
}

html,
body {
  height: 100vh;
  height: 100dvh;
}

#root {
  min-height: 100vh;
  min-height: 100dvh;
}

.login-page {
  display: grid;
  place-items: center;
  form {
    h1 {
      text-align: center;
    }
    label {
      margin-bottom: 0.75rem;
      display: block;

      span {
        display: block;
      }

      input {
        font-size: 1.25rem;
        padding: 0.1rem 0.4rem;
      }
    }
  }
}
